<div id="navegacion">
  <h1 style="text-align:center">Tienda de Juegos Miguel </h1>

  <div style="text-align: center;">
    <input  type="text" placeholder="Te encontrare lo que buscas"  style="width:200px">
    <!--<input  type="text" placeholder="Te encontrare lo que buscas" [(ngModel)]="title" width:305px>-->
  </div>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>

      <nav >
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
    <div class="ms-auto">
      <a mat-button matBadge="4" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


