nav{
  margin-top: 20px;
  margin-bottom: 20px;

}

nav > a {

  padding: 5px;
  text-decoration: none;
  color: wheat;
}

nav > a.active {
  padding: 5px;
  background-color: chocolate;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}
h1{
  margin-top: 2%;
}
#navegacion{
  border-color: black;
}
mat-toolbar{
  background-color: black;
}
