<app-header></app-header>

<div class="container">
  <section>
    <img [src]="product.image" alt="Imagen Item">
  </section>
  <section class="detalle">
    <p class="nombre">{{product.title}}</p>
    <p class="descripcion" >{{product.description}}</p>
    <p class="precio">{{product.price/1000 |currency:'COP: $':true:'2.3-3'}}</p>
      <div class="detalles-id">

        <button  class="btn btn-danger" style="margin-left:5px;">
          <a class="detalle-id" [routerLink]="['/products'] ">Regresar</a>
        </button>
      </div>
  </section>
</div>

