

.container{
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 5%;
  padding: 2% 5% 2% 5%;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px,5fr));

}

div > section > img {

  height: 330px;
  width: 330px;
  object-fit: cover;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 105%;
  margin-bottom: 5%;
}


.detalle{
  margin-top: 5%;
  margin-left: 5%;
}

.nombre{
  width: 95%;
  font-size: 300%;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(167, 157, 163, 0.801);
}

.descripcion{
  font-size: 250%;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(167, 157, 163, 0.801);

}

.precio{
  font-size: 170%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(167, 157, 163, 0.801);

}

.detalles-id{
  margin-top: 15%;
}

.detalle-id{
  font-size: 20px;
  color: aliceblue;
  font-weight:bold ;
  text-decoration: none;
}

#buy{
  font-size: 20px;
  color: aliceblue;
  font-weight:bold ;
  text-decoration: none;
  margin-right: 5px;
}

.botones{
  margin-left: 10%;
}
