

.container{
  display:flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 5%;

}

div > section > img {

  height: 400px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.detalle{
  margin-top: 5%;
  margin-left: 7%;
}

.nombre{
  font-size: 50px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(167, 157, 163, 0.801);
}

.descripcion{
  font-size: 30px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(167, 157, 163, 0.801);

}

.precio{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(167, 157, 163, 0.801);

}

.detalles-id{
  margin-top: 15%;
}

.detalle-id{
  font-size: 20px;
  color: aliceblue;
  font-weight:bold ;
  text-decoration: none;
}
