<body>
  <div class="contacto">
    <h1>¡Sera un gusto que hablemos!</h1>
    <p>Puedes contactarnos a traves de nuestros canales digitales o si deseas enviarnos tus datos y te contactaremos</p>
    <div class="container my-4">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="contactos">
            <div id="logo" class="col">
              <img src='../../../../assets/imagen/telefono.png' alt="" width="7%" >
              <a class="info-contacto" href="tel:3199999999"> 319 999 99 99</a>
            </div>
            <div id="logo" class="col">
              <img src='../../../../assets/imagen/correo.png' alt="" width="7%" >
              <a class="info-contacto" href="mailto:tierradejuegos@gmail.com"> tierradejuegos@gmail.com</a>
            </div>
            <div id="logo" class="col">
              <img src='../../../../assets/imagen/ubicacion.png' alt="" width="7%" >
              <a class="info-contacto" > Calle Falsa # 123 </a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <form class="informacion">
            <h1>¡Envianos un mensaje! </h1>
            ¿Cual es tu nombre?:<br>
            <input type="text" name="firstname" placeholder="Nombre">
            <br>
            ¿Cual es tu correo?:<br>
            <input type="email" name="lastname" placeholder="name@example.com">
            <br>
            Tu mensaje:<br>
            <input  id="mensaje" class="col" type="text" name="lastname" placeholder="Escribe tu mensaje">
            <br><br>
            <input  type="submit" value="Enviar" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

