<body>
  <section>
    <div class="contacto">
      <br>
      <h1>¡Sera un gusto que hablemos!</h1>
      <br>
      <br>
      <p>Puedes contactarnos a traves de nuestros canales digitales o si deseas enviarnos tus datos y te contactaremos</p>
      <br>
      <br>
      <div class="informacion">
        <div class="container">
          <div clas="row">
            <div class="datos" >
              <div id="logo" class="col">
                <img src='../../../../assets/imagen/telefono.png' alt="" width="7%" >
                <a class="info-contacto" href="tel:3199999999"> 319 999 99 99</a>
              </div>
              <div id="logo" class="col">
                <img src='../../../../assets/imagen/correo.png' alt="" width="7%" >
                <a class="info-contacto" href="mailto:tierradejuegos@gmail.com"> tierradejuegos@gmail.com</a>
              </div>
              <div id="logo" class="col">
                <img src='../../../../assets/imagen/ubicacion.png' alt="" width="7%" >
                <a class="info-contacto"> Calle Falsa # 123 </a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="formulario">
          <form action="action_page.php">
            <fieldset>
              <legend>Envianos un mensaje! </legend>
              ¿Cual es tu nombre?:<br>
              <input class="col" type="text" name="firstname" placeholder="Nombre">
              <br>
              ¿Cual es tu correo?:<br>
              <input class="col" type="email" name="lastname" placeholder="name@example.com">
              <br>
              Tu mensaje:<br>
              <input  class="col" type="text" name="lastname" placeholder="Escribe tu mensaje">
              <br><br>
              <input class="col" type="submit" value="Enviar" class="btn btn-primary">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>



</body>

